apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "varnish.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "varnish.name" . }}
    helm.sh/chart: {{ include "varnish.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "varnish.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "varnish.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      volumes:
      - name: {{ .Values.configmap }}
        configMap:
          name: {{ .Values.configmap }}
          items:
          - key: default.vcl
            path: default.vcl
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        volumeMounts:
        - name: {{ .Values.configmap }}
          mountPath: /etc/varnish/
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        livenessProbe:
          httpGet:
            path: {{ .Values.readinessPath }}
            port: http
        readinessProbe:
          httpGet:
            path: {{ .Values.readinessPath }}
            port: http
        resources:
{{ toYaml .Values.resources | indent 12 }}
